body {
font-family: dancing script;
font-size: 1em;
background-color:#02010a;
color: white;
}
.contenido {
  margin: 2px;
  padding: 0;
  width: 100%
}
.titulo {
  background-color: #E6EBE0
}
.menu {
  background-color: #F4F1BB
}
.imagen_central {
  background-color: #9BC1BC
}
.imagen_secundaria {
  background-color: #36C9C6
}
.imagensec1 {
  background-color: #ED6A5A
}
.imagensec2 {
  background-color: #E6EBE0
}
.contactos {
  background-color: #9BC1BC
}
.terminos {
  background-color: #36C9C6
}
.redes {
  background-color: #ED6A5A
}
.derechos {
  background-color: #E6EBE0
}
@media (min-width: 900px) {
.contenido {
width: 50%;
color: red;
}
}
